{% include "chap1/templates/junos/dns.j2" %}
{% include "chap1/templates/junos/interfaces.j2" %}
{% include "chap1/templates/junos/ntp.j2" %}
{% include "chap1/templates/junos/routing_options.j2" %}
{% include "chap1/templates/junos/security.j2" %}