interfaces {
    {% for interface in pillar.interfaces %}
    {{interface}} {
        unit 0 {
            family inet {
                address 10.10.1.1/24;
            }
        }
    }
    {% endfor %}
    lo0 {
        unit 0 {
            family inet {
                address {{pillar.loopbackv4}};
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address {{pillar.mgmtipv4}};
            }
        }
    }
}