interfaces {
    {% for key, interface_list in pillar.interfaces.items() %}
    {% for interface_dict in interface_list %}
    {% for intf, unit_list in interface_dict.items() %}
    {{intf}} {
        {% for unit_dict in unit_list %}
        {% for unit, ipaddr_dict in unit_dict.items() %}
        unit {{unit}} {
                {% if "ipv4addr" in ipaddr_dict.keys() %}
            family inet {
                    {% for ipv4 in ipaddr_dict["ipv4addr"] %}
                address {{ipv4}};
                    {% endfor %}
            }
                {% endif %}
                {% if "ipv6addr" in ipaddr_dict.keys() %}
            family inet6 {
                    {% for ipv4 in ipaddr_dict["ipv6addr"] %}
                address {{ipv6}};
                    {% endfor %}
            }
                {% endif %}
        }
        {% endfor %}
        {% endfor %}
    }
    {% endfor %}
    {% endfor %}
    {% endfor %}
    lo0 {
        unit 0 {
            family inet {
                address {{pillar.loopbackv4}};
            }
        }
    }
    fxp0 {
        unit 0 {
            family inet {
                address {{pillar.mgmtipv4}};
            }
        }
    }
}