interfaces {
    {% for interface_dict in pillar.interfaces %}
    {% for intf, intf_data_dict in interface_dict.items() %}
    {% set splited_intf = intf.split(".") %}
    {{ splited_intf[0] }} {
        description "{{ interface_dict.intf.description }}";
        unit {{ splited_intf[1] }}  {

            {%- if intf_data_dict.ipv4addr %}
            family inet {
                {% for ipv4 in intf_data_dict.ipv4addr %}
                address {{ ipv4 }};
                {% endfor %}
            }
            {%- endif %}

            {%- if intf_data_dict.ipv6addr %}
            family inet6 {
                {% for ipv6 in intf_data_dict.ipv6addr %}
                address {{ ipv6 }};
                {% endfor %}
            }
            {% endif %}
        }
    }

    {% if "ae" in intf %}
        {% for member in intf_data_dict.members %}
    {{ member }} {
        gigether-options {
            802.3ad {{ splited_intf[0] }};
        }
    }
        {% endfor %}
    {% endif %}

    {% endfor %}
    {% endfor %}
}