{% set servers = salt.pillar.get("ntp.servers") %}
{% set peers = salt.pillar.get("ntp.peers") %}

system {
  replace:
    ntp {
      {% for server in servers %}
      server {{server}};
      {%- endfor %}
      {% for peer in peers %}
      peer {{peer}};
      {%- endfor %}
    }
}