{% set hosts = pillar.mgmtipv4 | network_hosts %}
{% set gateway = hosts[0] %}
{% set network = hosts[-1] %}


routing-options {
    static {
        route {{network}} {
            next-hop {{gateway}};
            no-readvertise;
        }
    }
}