{# TO DO - Create filter to get network id and network mask from cidr#}
{%- set interfaces = pillar.interfaces -%}

{% for interface_dict in interfaces %}
{% for intf in interface_dict.keys() %}
interface {{intf}}
  {% if intf.description %}
  description {{intf.description}}
  {% endif %}
  {% if intf.ipv4addr %}
  ipv4 address {{intf.ipv4addr}}
  {% endif %}
  {% if intf.ipv6addr %}
  ipv6 address {{intf.ipv6addr}}
  {% endif %}
  no shut
{% endfor -%}
{% endfor -%}
